@media(max-width: 586px) {
  img {
    width: 100%;
    height: auto;
  }
}

.align-middle {
  box-sizing: border-box;
  align-self: center
}

.btn-round {
  border-radius: 100%;

  box-sizing: border-box;

  /* padding: 0;
  margin: 0;
  overflow: hidden; */
}

.fa-color {
  color: inherit;
}
