<div class="container">
  <div *ngIf="cart" class="card animated pulse">
    <h2 class="text-center mt-2">Shopping Cart</h2>
    <p *ngIf="cart" class="text-center">You have {{ cart.totalItem }} in the cart</p>
    <div *ngIf="!cart" class="mt-5 mb-5 align-middle">
      <a routerLink="/programs" class="btn btn-outline-success">Shop Now</a>
    </div>
    <div class="card body ">
      <div *ngFor="let program of cart.cart.programs" class="card mb-2 mr-2 ml-2">
        <div class="card body bg-light">
          <div class="row grid">
            <div class="col col-sm-4">
              <div class="card bg-transparent text-white">
                <img height="280" class="img-fluid w-auto" src="{{program.image }}" class="card-img" alt="...">
                <div (click)="goToProgram(program._id)" class="card-img-overlay">
                  <h5 class="card-title text-capitalize p_title">{{program.name }}</h5>
                </div>
              </div>
            </div>
            <div class="col col-sm-4 align-middle">
              <div class="row">
                <div class="col col-sm-4"><button (click)="deleteFromCart(program)" class="btn btn-secondary btn-round"><i
                      class="fa fa-minus-circle fa-2x fa-color"></i></button>
                </div>
                <div *ngIf="!showBtns" class="col col-sm-4">{{program.quantity }} in the cart</div>
                <div *ngIf="showBtns" class="col col-sm-4">
                  <p class="text-center ml-4 mt-2"> {{program.quantity }} </p>
                </div>
                <div class="col col-sm-4"><button (click)="addToCart(program)" class="btn btn-secondary btn-round"><i
                      class="fa fa-plus-circle fa-2x fa-color"></i></button>
                </div>
              </div>
            </div>
            <div class="col col-sm-4 align-middle">
              <div class="price_div">
                <h5>{{program.price | currency: 'USD': 'symbol'}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="
                cart.cart.programs.length> 0" class="alert alert-light" role="alert">

        <h5 class=" shadow p-3 mb-5 bg-white rounded grandTotal"><b class="mr-5 ">Grand Total </b> {{
          cart.cart.totalPrice | currency: 'USD':
          'symbol'}}</h5>


      </div>
      <div *ngIf="cart.cart.programs.length > 0" class="checkout-btn mt-3">
        <a *ngIf="!showBtns" routerLink="/checkout" class="btn btn-outline-success btn-checkout mb-3 mr-2"><i class="fa fa-shopping-cart mr-2"></i>
          Check out</a>
        <a routerLink="/programs" class="btn btn-outline-secondary btn-checkout mb-3">Browse more</a>
      </div>

    </div>

  </div>
</div>
