<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand logo" routerLink="/">Alissa</a>
    <span class="mr-5 d-block d-sm-none "><a routerLink="/cart"><i class="fa fa-shopping-cart fa-2x"></i></a> </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse float-right" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/programs">Programs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>

      </ul>
      <a routerLink="/cart" class="mr-5 d-none d-sm-block">
        <i class="fa fa-shopping-cart fa-2x"></i><span *ngIf="cart" class="badge badge-light">{{ cart.totalItems }}</span>
        <span class="sr-only"></span>
      </a>
    </div>

  </nav>
</header>
