<div *ngIf="programs" class="container animated fadeInRight">
  <h3 class="text-center logo">Programs Available</h3>
  <div *ngFor="let program of programs; let i = index" class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col col-sm-5 col-lg-5">
          <img width="300" class="img-responsive" src="{{program.image }}" alt="alissa1">
        </div>
        <div class="col col-sm-7 col-lg-7">
          <div class="mt-5">
            <h4 class="text-capitalize">{{program.name }}</h4>
            <p class="align-left">{{ program.description }}</p>
            <h5>{{ program.price | currency: 'USD': 'symbol'}}</h5>
          </div>
          <button class="btn btn-dark mr-2" (click)="addToCart(program)"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Add to Cart</button>
          <a routerLink="/program/detail/{{program._id}}" class="btn btn-outline-primary">View Details</a>
        </div>
      </div>

    </div>
  </div>
</div>
<div *ngIf="!programs" class="container">
  <h1 class="text-center">No Programs Available</h1>
</div>
