<div *ngIf="program" class="animated fadeInDown container">
  <div class="card">
    <div class="card body">
      <h3 class="card-title text-center text-capitalize mb-5 mt-3">{{program.name }}</h3>
      <div class="grid">
        <div class="col">
          <img class="img-fluid" src="{{program.image}}" alt="{{program.name}}">
          <div class="divider"></div>
        </div>
        <div class="col">
          <h4 class="card-title text-center tex-capitalize">
            About this program.
          </h4>
          <blockquote>
            {{ program.description }}
          </blockquote>
          <br>
          <p class="lead"> {{ program.fullDescription }}</p>
          <h5>{{ program.price | currency: 'USD': 'symbol' }}</h5>
          <div class="mb-5 row mt-5">
            <div class="col">
              <button class="btn btn-dark btn-block" (click)="addToCart(program)"><i class="fa fa-shopping-cart"
                  aria-hidden="true"></i>
                Add
                to Cart</button>
            </div>
            <div class="col">
              <a class="btn btn-outline-danger" routerLink="/program/edit/{{program._id}}">Edit/Update Program</a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

</div>
