<div class="container">
  <div class="card">
    <h3 class="text-center mt-3">Updating a Program</h3>
    <div class="grid">
      <div class="col">
        <div class="card-body">
          <form id="myForm" #myForm="ngForm" (ngSubmit)="updateProgram(myForm)">
            <div class="form-group">
              <label for="name">Program Name/Title</label>
              <input class="form-control" id="name" type="text" placeholder="Name or Title" autofocus="true" name="name"
                [(ngModel)]="program.name">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" [(ngModel)]="program.description" placeholder="Type a short description about this program"
                name="description" id="description" cols="10"></textarea>
            </div>
            <div class="form-group">
              <label for="full">Full Description</label>
              <textarea class="form-control" [(ngModel)]="program.fullDescription" placeholder="Write a full description about this program"
                name="fullDescription" id="full" cols="10"></textarea>
            </div>
            <div class="form-group">
              <input class="form-control" id="price" (blur)="fixPrice(price)" #price="ngModel" type="number"
                placeholder="Price" required name="price" [(ngModel)]="program.price">
            </div>
            <div class="form-group">
              <label for="image">Image/Cover</label>
              <input class="form-control" id="image" type="url" name="image" [(ngModel)]="program.image">
            </div>
            <button type="submit" [disabled]="!myForm.valid" class="btn btn-dark w-70 mr-2">Update Program</button>
            <button class="btn btn-outline-danger" (click)="deleteProgram()">Detele Program</button>
          </form>
        </div>
      </div>
      <div *ngIf="program.name" class="col">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center card-title mb-2">Program Preview</h3>
            <br>
            <div>
              <h4 class="text-capitalize">{{ program.name }}</h4>
              <blockquote>
                {{ program.description }}
              </blockquote>
              <img class="img-fluid" src="{{program.image }}" alt="">
              <h5>{{ program.price | currency:'USD':'symbol'}}</h5>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
